
.section:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #fe5f46; 
    color: #fff; 
    font-size: 26px; 
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}


.section:nth-child(2n) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fe5f46; 
    color: #fff; 
    font-size: 20px;
    text-align: center;
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
}
.section:nth-child(3n){
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    

}

.strong{
    color: rgb(252, 252, 252);
    
}

.java{
    color: rgb(68, 68, 59);
    background-color: aliceblue;
}   
.py{
    color: rgb(68, 68, 59);
    background-color: aliceblue;
}
.c{
    color: rgb(68, 68, 59);
    background-color: aliceblue;
}
.html{
    color: rgb(68, 68, 59);
background-color: aliceblue;
}
.css{
    color: rgb(68, 68, 59);
    background-color: aliceblue;
}
.js{
    color: rgb(68, 68, 59);
    background-color: aliceblue;
}

#fullpage {
    position: relative;
}

#gradient-container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fp-watermark {
    display: none;
    }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index:1;
}   
.paragraph1{
    position:absolute;left:450px;top:120px;
    text-align:left;
}
.paragraph2{
    position:absolute;left:450px;top:45%;
    text-align:left;
}

.paragraph3{
    position:absolute;left:450px;top:500px;
    text-align:left;
}

.paragraph4{
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align:right;
    position:absolute;
    top:15%;
    left:32%;
}
.paragraph5{
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position:absolute;
    top:42%;
    left:27%;
    text-align:right;
    
}

.paragraph6{
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position:absolute;
    top:69%;
    left:32%;
    text-align:right;
}

.paragraph7{
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position:absolute;
    font-size:30px;
    left:20%;
    top:20%;
    
}

.learn-more{
    position:absolute;left:-20px;top:50%;
    text-align:left;
    rotate: -90deg;
    font-family: fantasy;
    font-size: 36px;
    color: #fff;
}

.learn-more2{
    position:absolute;right:-3%;top:50%;
    text-align:left;
    rotate:90deg;
    font-family: fantasy;
    font-size: 36px;
    color: #000;
}


.experience-content img {
    max-width: 100%;
    height: auto;
}
.experience-text{
    position:absolute;left:0px;top:260px;
    text-align:left;
    rotate: -90deg;
    font-family: fantasy;
    font-size: 60px;
    
}

.projects-text{
    position:absolute;right:0px;top:260px;
    text-align:left;
    rotate: 90deg;
    font-family: fantasy;
    font-size: 60px;
}


    .divider {
    border-left:1px solid #16222c;
    height:70000px;
    top:1px;
    position:absolute;left:420px;
    }
    .divider2 {
        border-left:1px solid #ffffff;
        height:70000px;
        top:1px;
        position:absolute;right:420px;
        }
        .divider3 {
            border-left:1px solid #16222c;
            height:70000px;
            top:1px;
            position:absolute;left:200px;
            }

            .button-container {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .button {
                
                color: #fff;
                font-size: 24px;
                border: none;
                margin: 10px;
                padding: 10px 20px;
                border-radius: 2px;
                cursor: pointer;
                text-decoration: none;
                top:100%;
            }
            
            .button i {
                margin-right: 8px;
            }
            
            .button:hover {
                /* make button bigger when hovered */
                transform: scale(1.1);
            
            }
            

    .img1{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 10px;
        position:absolute;left:249px;top:125px;
    }

    .img2{
        width: 155px;
        height: 155px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 10px;
        position:absolute;left:-203px;top:170px ;
        z-index:1;
    }
    .img3{
        width: 155px;
        height: 155px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 10px;
        position:absolute;left:249px;bottom:50px;
    }

    .img4{
        width: 155px;
        height: 155px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 10px;
        position:absolute;left:75%;bottom:65%;
    }

    .img5{
        width: 155px;
        height: 155px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 10px;
        position:absolute;left:75%;bottom:38%;
    }

    .img6{
        width: 155px;
        height: 155px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-bottom: 10px;
        position:absolute;left:75%;bottom:10%;
    }


    /*

    media queries

    */

    body {
        font-size: 16px;
        /* Other common styles */
    }
    
    /* Styles for small screens (mobile) */
    @media (max-width: 600px) {
        .paragraph1, .paragraph2, .paragraph3 {
            font-size: 14px; /* Adjust font size for smaller screens */
            position: relative; /* Adjust positioning as needed */
            left: auto;
            top: auto;
            text-align:center;

        }

        .paragraph4, .paragraph5, .paragraph6 {
            font-size: 14px; /* Adjust font size for smaller screens */
            position: relative; /* Adjust positioning as needed */
            left: auto;
            top: auto;
            text-align:center;

        }
       
        .img1 {
            width: 30%;
            height: 30%;
            left: 5%;
            top: 5%;
            z-index:1;
        }
    
        .img2 {
            width: 30%;
            height: 30%;
            position:absolute;
            left: 35%;
            top: 0%;
            z-index:2;
        }
    
        .img3 {
            width: 30%;
            height: 30%;
            left: 65%;
            top: 5%;
            z-index:2;
        }

        .img4 {
            width: 20%;
            height: 20%;
            left: 10%;
            top: 5%;
            z-index:1;
        }
    
        .img5 {
            width: 20%;
            height: 20%;
            position:absolute;
            left: 40%;
            top: 0%;
            z-index:2;
        }
    
        .img6 {
            width: 20%;
            height: 20%;
            left: 70%;
            top: 5%;
            z-index:2;
        }
.projects-text{
    display:none;
}
        .experience-text{
        display:none;
        }
        .learn-more{
            text-align:center;
            font-size:12px;
            rotate:0deg;
            /* center */
            position:absolute;left:28%;top:95%;
            z-index:1;
        }
        .learn-more2{
            text-align:center;
            font-size:12px;
            rotate:0deg;
            /* center */
            position:absolute;left:0%;top:95%;
            z-index:1;
        }

        .paragraph7{
            text-align: center;
            position:absolute;
            left:4%;
        }
        .divider3{
            display: none;
        }
        .button-container{
        position:absolute;
        bottom:0%;
        left:5%;    
        }

        
    }
    
    /* Styles for medium screens (tablets) */
    @media (min-width: 601px) and (max-width: 1024px) {
        .paragraph1, .paragraph2, .paragraph3 {

            font-size: 16px;
            
        }
        .paragraph1{
            top:15%;
        }

        .paragraph2{
            top:42%;
        }
        .img2{
            top:40%;
            left:32%;
        }
    }
    
    /* Styles for large screens (desktop) */
    @media (min-width: 1025px) {
        .experience-text{
            top:40%;
        }
        .projects-text{
            
        }
        .img2{
            top:44%;
            left:13%;
        }
        .paragraph3{
            top:78%;
        }

        .img4{
            top:10%;
            left:80%;
        }
        .img5{
            top:40%;
            left:80%;
        }
        .img6{
            top:70%;
            left:80%;
        }
        .paragraph4{
            top:14%;
            left:42%;
            font-size:20px;
        }
        .paragraph5{
            top:42%;
            left:38%;
            font-size:20px;
        }

        .paragraph6{
            top:70%;
            left:42%;
            font-size:20px;
        }
        .projects-text{
            top:40%;

        }

        .paragraph7{
            left:25%;
        }
        
    }